#admin-dashboard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#ads {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

#facebook {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

#facebook-2fa {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

#pixel {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

#save-button {
    margin-top: 20px;
    text-align: center;
}